* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    font-family: Product Sans, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 1.6;
    text-decoration: none;
    outline: none;
    border: none;
}

/*  */



/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #2eb82e;
    color: white;
}

/*  */

.title {
    font-size: 26px;
    text-align: center;
    margin: 0px 20px;
    padding: 10px 20px;
}

.center {
    text-align: center;
    margin: 10px;
}

#srchbar {
    text-align: justify;
    margin-top: 11px;

}

.textArea {
    border: solid #333;
    width: 1400px;
    margin-left: 55px;
}

#images {
    text-align: center;
    margin: 50px auto;
}

#images a {
    margin: 0px 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.loginContainer {
    padding: 10px;
    text-align: right;
    size: 300px;

}

.submitButton {
    size: 10px;
    width: 69px;
    padding-inline: 10px;
}

.navbar-item:hover {
    background-color: rgb(226, 221, 215);
    color: black;
}


#home {
    max-width: 980px;

    margin: auto;
}

.padding-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}



.third {
    width: 33.3333%;
}

.row {
    display: flex;

}

#members h2 {
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: 200;
}


.wide {
    letter-spacing: 4px;
    font-size: 28px;
    font-weight: 200;
}

.opacity {
    opacity: 0.6;

}

#contact p {
    padding: 10px 0px;
}


.hieu-input {
    padding: 8px;
    display: block;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.hieu-button {
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    background-color: black;
    cursor: pointer;

}

.hieu-button:hover {
    color: black;
    background-color: gray;
}



button {
    size: 2000px;
}



/* ==========================================
    FOR DEMO PURPOSE
  ========================================== */
body {
    background: #479987;
}

.text-small {
    font-size: 0.9rem;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover,
a:focus {
    text-decoration: none;
}

.form-control {
    background: #b1c3d4;
    border-color: #bdb6b6;
}

.form-control:focus {
    background: #40664d;
}

footer {
    background: #0e8f19;
}


/* ==========================================
      CUSTOM UTILS CLASSES
    ========================================== */
body,
html {
    height: 100%;
}